@import "tailwindcss";
@import "@miqal/theme/core.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --miqal-font-sans: var(--font-geist-sans);
  --miqal-font-mono: var(--font-geist-mono);
}

@theme inline {
  --font-heading: var(--miqal-font-sans);
}
